body, iframe {
    margin: 0;
    padding: 0;
}

.giochi_in_evidenza{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
}

.r-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eaeaea;
}

.button3, .button4 {
    background-color: #eaeaea;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}