*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
}


nav {
    width: 100vw;
    display: flex;
    flex-flow: column;
}

.black-nav {
    background-color: rgb(22 22 22);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.black-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 47px;
}

.black-nav li {
    margin: 0px 30px;
}

.black-nav svg {
    pointer-events: none;
    display: block;
    width: 26px;
    height: 26px;
    fill: rgb(243 243 243);
}

.ea-svg {
    width: 45px;
    height: 45px;
}

/*lista navbar*/

.white-nav ul:nth-child(2){
    font-size: 23px;
    font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 45px;
}

.white-nav ul:nth-child(2) li{
    margin-left: 45px;
}

.white-nav ul:nth-child(2) span{
    transform: rotate(90deg);
    font-size: 23px;
    margin-left: -10px;
    font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
}

.white-nav {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   height: 60px;
 }
 
 .white-nav ul {
   display: flex;
   list-style: none;
   align-items: center;
 }
 
 .white-nav li {
   margin: 0px 5px;
 }
 
 .menu-svg {
   transform: rotate(90deg);
   fill: rgb(22 22 22);
   width: 24px;
   height: 24px;
   margin-left: 6px;
 }
 
 .white-nav img {
   height: 23.77px;
 }
 
 .hamburger {
   display: none;
 }
 
 .white-nav ul:nth-child(2) {
   font-size: 18px;
   font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 30px;
 }
 
 .white-nav ul:nth-child(2) li {
   margin-left: 30px;
 }
 
 .white-nav ul:nth-child(2) span {
   transform: rotate(90deg);
   font-size: 18px;
   margin-left: -10px;
   font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
 }
 
 @media (min-width: 320px) and (max-width: 575.98px) {
   .menu-svg {
     display: none;
   }
 
   .white-nav img {
     height: 7px;
   }
 
   .white-nav ul {
     margin-left: -55px;
     margin-top: -80px;
   }
 
   .hamburger {
     display: block;
     width: 10px;
     height: 10px;
     margin-top: 5px;
   }
 
   .white-nav img {
     height: 7px;
     margin-left: -30px;
   }
 
   .white-nav ul:nth-child(2) {
     display: none;
   }
 }
 
 /* liste dropdown */
 
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropbtn {
   background-color: transparent;
   color: inherit;
   padding: 16px;
   font-size: 18px;
   border: none;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content{
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

.NT-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    
}

.hero{
   width: 100%;
   height:250% ;
   padding-bottom: 30px;
    }

video{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 250%;
    object-fit: cover;
    z-index: -100;
    display: block;
    }
    .hidden{
      display: none;
      position: absolute;
    }
    .write{
      width: 100%;
      height: 100%;
      padding-left:120px;
      padding-top: 150px;
      padding-bottom: 70px;
    }
h3{
    position: absolute;
    font-size: 54px;
    padding-top:100px;
    color: #f3f3f3;
    margin-left:100px;
}

h2{
    font-size: 48px;
    color: #f3f3f3;
    margin-left:100px; 
    padding-top: 250px;
    
     }

     p {
        color:#f3f3f3;
        font-size:18px;
        margin-left:100px;
        padding-top: 20px;
        
        }
        .banner{
            min-width: 100vw;
            min-height: 110px;
            position: relative;
            color: #f3f3f3;
            
            }
            .ban{
                width: 100%;
                height: 100%;
                 }
                 
                 
             h4{
                position: relative;
                color:#f3f3f3;
                font-size: 24px;
                bottom: 80px;
                left: 210px;
             }  
              .ban-content{
                position: relative;
                margin-top: auto
              }
              
             .btn-container a{
              text-decoration: none;
            }
            
            .btn-container {
              width: 160px;
              height: 65px;
              padding: 5px;
              border-radius: 2px;
              transition: 0.1s;
              
            }
            .btn-container:hover {
              padding: 0px;
            }
            
            @media only screen and (max-width: 1023px) {
              .btn-container {
                width: 144px;
                height: 56px;
              }
            }
            @media (max-width: 576px) {
              .d-sm-block {
                display: block-inline;
                width: 100%;
              }
            }
            .btn {
              width: 100%;
              height: 100%;
              border-radius: 2.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              bottom: 150px;
              left: 1200px;
              float: right;
              
            }
            .btn:hover {
              background: unset;
            }
          
            .btn-red {
              color: white;
              border: transparent;
              background-color: #ff4747db
            }
            
            .btn-red:hover {
              background-color: #ff4747db;
              color: white;
            }
          
            .btn-white {
              border: 2px solid white;
              background-color: transparent;
              color: white;
            }
            .btn-white:hover {
              background-color: transparent;
              color: white;
              border: 2px solid white;
            }
             .fourwrap{
                min-width: 100%;
                min-height:850px;
                display: flex;
                display: block;
                flex-flow: column;
             } 
             
             .fw{
                width: 100%;
                height: 50%;
                position: relative;
                }
              
                h1{
                position: absolute;
                color: #f3f3f3;
                font-size: 32px;
                font-weight: bold;
                padding-top: 90px;
                padding-left: 50px;
             }
             .seed{
                position: absolute;
                color: #f3f3f3;
                font-size: 15px;
                line-height: 30px;
                padding-top:150px;
                margin-left:50px;
             }
             .sito{
              border: 2px solid #f3f3f3;
              border-radius: 4px;
              width: 165px;
              height: 65px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #f3f3f3;
              position: relative;
              top: 250px;
              left: 50px;
             }

             .sito:hover{
                width: 170px;
                height: 70px;
                
             }
             .fr{
                position: absolute;
                color: #f3f3f3;
                font-size: 40px;
                font-weight: bold;
                padding-top: 110px;
                  padding-left: 870px;  
             }
             .fb{
                position: absolute;
                color: #f3f3f3;
                font-size: 15px;
                padding-top:150px;
                margin-left:870px;
                line-height: 30px;
             }
             .ufficiale{
              border: 2px solid #f3f3f3;
              border-radius: 4px;
              width: 165px;
              height: 65px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #f3f3f3;
              position: relative;
              top: 260px;
              left: 870px;
             }
             .ufficiale:hover{
                width: 170px;
                height: 70px;
             }
             
             .first, .second {
              width: 100%;
             height: 100%;
             position: absolute;
             }
             .prefooter{
              width: 100%;
              height: 250px;
              background-color: #eaeaea;
              display: flex;
              justify-content: center;
          }
          
          .prefoot-container{
              width: 70%;
              display: flex;
              justify-content: space-between;
              margin-top: 25px;
          }
          
          .social-icons{
              line-height: 30px;
              display: flex;
              flex-direction: column;
              width: 400px;
              }

              .social-list{
                width: 300px;
              }
          
          .social-title > p {
              font-size: 13px;
              font-weight: bold;
              color: #303030;

          }
          
          .sicon{
              width: 25px;
              transition: ease-in-out 0.2s;
              margin: 0  0 0 40px;
          }
          
          .sicon:hover{
              scale: 1.3;
          }
          
          .links{
              list-style: none;
              display: flex;
              justify-content: space-between;
              width: 850px;
          }
          
          a{
              text-decoration: none;
              color: rgb(52, 52, 52);
          }
          
          a:hover{
              color: rgba(248, 66, 66, 0.851);
          }
          
          .link-list{
              width: 850px;
              justify-content:flex-end;
              padding: 0;
              margin: 0;

          }
          
          .links{
              /* flex-wrap:wrap; */
              line-height: 40px;
              padding: 0;
          }
          
          .links > li{
              /* padding: 0 42px 0 0; */
              font-size: 16px;
          }
          
          li{
              width: max-content;
          }
          footer{
            width: 100%;
            min-height: 35vh;
            background-color: #f3f3f3;
            display: flex;
            justify-content: center;
        }
        .top{
            display: flex;
        }
        .buttons{
            display: flex;
            width: 500px;
            display: flex;
        }
        
        .foot-container{
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }
        
        .foot-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        ul{
            list-style: none;
            display: flex;
        }
        
        a{
            text-decoration: none;
            color: rgb(52, 52, 52);
        }
        
        .logo-container > img{
            width: 64px;
        }
        
        .foot-links{
            max-width: 50%;
            display: flex;
            flex-wrap: wrap;
            font-size: 16px;
            margin: 0 0 0 -10px;
        }
        
        .foot-links > li{
            line-height: 40px;
            margin: 0 50px 0 0;
        }
        
        .legal-copyright{
            max-width: 55%;
            padding: 0 0 0 30px;
        }
        
        .legal-links{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }
        
        .legal-links > li{
            margin: 0 25px 0 0;
            line-height: 25px;
        }
        
         
        #selector-container{
          width: 421px;
          height: 70px;
          display: flex;
          justify-content: space-between;
          position: absolute;
        }
        
        #footerbtn1, #footerbtn2{
          position: relative;
          width: 190px;
          padding: 10px 20px;
          border: 2px solid rgb(194, 194, 194);
          border-radius: 3px;
          left: 600px;
          top: 50px;
          
        }
        
        #regional-prices, #footer-language{
          display: flex;
          justify-content: left;
          color: #4a4a4a;
        }
        
        #dropdown-selection{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        
        #dropdown-language-selection{
          display: flex;
          justify-content: space-between;
        }
        
        #selector-container .footer-selector #options-container-pricing {
          height: 50px;
          width: 142px;
          font-family: ElectronicArtsText;
          font-size: 15px;
          font-stretch: 100%;
          font-weight: 400;
          letter-spacing: normal;
          line-height: 22.5px;
          text-align: left;
          text-indent: 0px;
          word-spacing: 0px;
          color: rgb(90, 90, 88);
          cursor: default;
        } 
        #selector-container .footer-selector #options-container-pricing #country-prices-dropdown {
          color: rgb(22, 22, 22);
        }
        #selector-container .footer-selector #options-container-pricing #dropdown-selection {
          display: flex;
          align-items: center;
          position: relative;
        }
        #selector-container .footer-selector #options-container-pricing #dropdown-selection #regional-dropdown {
          position: absolute;
          right: 0px;
        }
        #selector-container #language-selector #options-container-language {
          height: 50px;
          width: 142px;
          font-family: ElectronicArtsText;
          font-size: 15px;
          font-stretch: 100%;
          font-weight: 400;
          letter-spacing: normal;
          line-height: 22.5px;
          text-align: left;
          text-indent: 0px;
          word-spacing: 0px;
          color: rgb(90, 90, 88);
        }
        #selector-container #language-selector #options-container-language #dropdown-language-selection {
          display: flex;
          align-items: center;
          position: relative;
          
          
        }
        #selector-container #language-selector #options-container-language #dropdown-language-selection #country-language-dropdown {
          color: rgb(22, 22, 22);
        }
        
        #selector-container #language-selector #options-container-language #dropdown-language-selection span {
          height: 11px;
          width: 16px;
          margin-right: 7px;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA50lEQVR42nWRMQ/BQBSAL0aRdDQzMnVjJWam1iDiV4jE5g+ZLSYSC6vIhSbowFrX3rXVeL0Xjza8fOn0fb17LSvOSt84Jwe4uu75cgT2By4ZQ24aBtJ0MyGSJHnqieKUMAzlYPSwbED1up+gv7CRpw7iOI6iCGylVNBoeqYp6rU/QdaGQVtUqqrT+RGAR7aUMggCtAE4Kh+0562cnQba9srlTAAqAouS7fu+gNF2JhguxxTkbSFAvRtG2pgmxwAvgwhfkP3QgwEAy3A6gZamq1MDL8YP9TmBWQViu9uuVyt8Ilz/YP7mBVsTOUQfESu+AAAAAElFTkSuQmCC");
        }
        
        .dropdown-activated {
          transform: scale(-1, -1);
        }
        
          #finlandcont, #liechcont, #slovcont, #switzcont {
            border-bottom: none !important;
          }
          .firstcountries {
            margin-left: 30px;
            width: 137.09px;
            height: 47px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          .firstcountries .selectedcontainer {
            height: 100%;
            width: 121.09px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .firstcountries .selectedcontainer p {
            font-weight: 400 !important;
            font-size: 15px !important;
            text-align: left;
            height: 22.5px;
            width: 121.09px;
            color: rgb(22, 22, 22);
          }
          .firstcountries span {
            width: 16px;
            height: 16px;
          }
          .secondcountries {
            width: 124.72px;
            height: 47px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          .secondcountries .selectedcontainer {
            height: 100%;
            width: 108.72px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .secondcountries .selectedcontainer p {
            font-weight: 400 !important;
            font-size: 15px !important;
            text-align: left;
            height: 22.5px;
            width: 108.72px;
            color: rgb(22, 22, 22);
          }
          .secondcountries span {
            width: 16px;
            height: 16px;
          }
          .thirdcountries {
            width: 116.66px;
            height: 47px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          .thirdcountries .selectedcontainer {
            height: 100%;
            width: 100.66px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .thirdcountries .selectedcontainer p {
            font-weight: 400 !important;
            font-size: 15px !important;
            text-align: left;
            height: 22.5px;
            width: 100.66px;
            color: rgb(22, 22, 22);
          }
          .thirdcountries span {
            width: 16px;
            height: 16px;
          }
          .fourthcountries {
            width: 110.61px;
            height: 47px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          .fourthcountries .selectedcontainer {
            height: 100%;
            width: 94.61px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .fourthcountries .selectedcontainer p {
            font-weight: 400 !important;
            font-size: 15px !important;
            text-align: left;
            height: 22.5px;
            width: 94.61px;
            color: rgb(22, 22, 22);
          }
          .fourthcountries span {
            width: 16px;
            height: 16px;
          }
          #countryfootercontainer {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            flex-wrap: wrap;
          }
          .countryitem {
            transition: margin-left 0.2s;
            transition-timing-function: ease-in-out;
          }
          .countryitem:hover {
            margin-left: 20px !important;
          }
          .languagetextcontainer {
            transition: margin-left 0.2s;
            transition-timing-function: ease-in-out;
          }
          .languagetextcontainer:hover {
            margin-left: 20px !important;
          }
          #countryselector {
            display: none;
            position: absolute;
            margin-top: -450px;
            margin-left: -430px;
            width: 653px;
            height: 453px;
            overflow: hidden !important;
            background: #f3f3f3;
            border: 3px solid rgb(194, 194, 194);
            flex-direction: column;
            flex-wrap: wrap;
          }
          #languagescontainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }
          #locallanguageselector {
            position: absolute;
            margin-top: -550px;
            margin-left: -330px;
            display: none;
            padding: 21px 5px;
            width: 547.63px;
            height: 552px;
            background: #f3f3f3;
            border: 3px solid rgb(194, 194, 194);
          }
          #locallanguageselector #uklanguage {
            width: 165px;
          }
          #locallanguageselector #uklanguage p {
            width: 140px;
          }
          #locallanguageselector #czechlang {
            width: 165px;
          }
          #locallanguageselector #czechlang p {
            width: 140px;
          }
          #locallanguageselector #brlanguage, #locallanguageselector #nedlanguage, #locallanguageselector #turklanguage {
            border-bottom: none;
          }
          #locallanguageselector .firstlanguages {
            margin-left: 20px;
            width: 156.06px;
            height: 56px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          #locallanguageselector .firstlanguages .flaglistcontainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 16px;
          }
          #locallanguageselector .firstlanguages .languagetextcontainer {
            width: 124.06px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          }
          #locallanguageselector .firstlanguages .languagetextcontainer p {
            height: 22.5px;
            font-weight: 400 !important;
            font-size: 15px;
            margin-left: 10px;
          }
          #locallanguageselector .firstlanguages .checklangcontainer {
            height: 100%;
            width: 16px;
          }
          #locallanguageselector .secondlanguages {
            width: 155.56px;
            height: 56px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          #locallanguageselector .secondlanguages .flaglistcontainer {
            height: 100%;
            width: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          #locallanguageselector .secondlanguages .languagetextcontainer {
            width: 123.56px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          }
          #locallanguageselector .secondlanguages .languagetextcontainer p {
            height: 22.5px;
            font-weight: 400 !important;
            font-size: 15px;
            margin-left: 10px;
          }
          #locallanguageselector .secondlanguages .checklangcontainer {
            height: 100%;
            width: 16px;
          }
          #locallanguageselector .thirdlanguages {
            width: 108px;
            height: 56px;
            display: flex;
            border-bottom: 2px solid rgb(234, 234, 234);
          }
          #locallanguageselector .thirdlanguages .flaglistcontainer {
            height: 100%;
            width: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          #locallanguageselector .thirdlanguages .languagetextcontainer {
            width: 76px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          }
          #locallanguageselector .thirdlanguages .languagetextcontainer p {
            height: 22.5px;
            font-weight: 400 !important;
            font-size: 15px;
            margin-left: 10px;
          }
          #locallanguageselector .thirdlanguages .checklangcontainer {
            height: 100%;
            width: 16px;
          }
        .trust-container{
            display: flex;
            align-items: flex-end;
        }
