:root {
    --background-color-card: rgba(0, 0, 0, 0.295);
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #eaeaea;
    height: 100%;
    width: 100%;
}

.iframe_row{
    display: flex;
    justify-content: center;
}

.iframe_row2{
    display: flex;
    justify-content: center;
}

.container_title {
    margin: 0;
    text-align: center;
}

h3 {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 40px;
    text-align: center;
}



.row_card {
    width: 350px;
    height: 350px;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.link_card {
    width: 100%;
    height: 100%;
    /* transition: .2s; */
}

.card1 {
    background-image: url("img/fifa22-next-gen.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card2 {
    background-image: url("img/apex-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card3 {
    background-image: url("img/F122.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card4 {
    background-image: url("img/battlefield-2024.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card5 {
    background-image: url("img/apex-pc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card6 {
    background-image: url("img/the-sims-4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_svg {
    position: absolute;
    width: 350px;
    height: 350px;

}

.svg {
    position: relative;
    width: 132px;
    left: 113px;
    top: 140px;
}

.svg_f1{
    position: relative;
    width: 161px;
    height: 110px;
    left: 91px;
    top: 164px;
}

.link_card:hover {

    box-shadow: 0 14px 20px 0 rgb(80 80 80 / 24%);
    background: linear-gradient(to left, #ff4747, #0d1042);
    filter: opacity(0.9);

}

.href_card {
    display: none;
    position: relative;
    text-decoration: none;
    color: white;

    font-size: 20px;
    text-align: center;
    padding-top: 164px;

}

.link_card:hover .container_svg {
    top: -63px
}

.link_card:hover .href_card {
    display: inline-block;
    width: 100%;
    height: 100%;
}