* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tab-title {
    font-family: ElectronicArtsDisplay,Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    border-bottom: 3px solid rgba(192, 192, 192, 0.469);
    margin-top: 60px;
}

.stage {
    display: grid;
    background-color: rgba(192, 192, 192, 0.469);
}

.stage ul {
    display: flex;
    list-style: none;
    gap: 3px;
}

.stage ul>li {
    font-size: 28px;
    font-family: ElectronicArtsDisplay,Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 0px 15px;
}