* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    display: flex;
    flex-flow: column;
}

.white-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 60px;
}

.white-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.white-nav li {
    margin: 0px 20px;
}

.menu-svg {
    transform: rotate(90deg);
    fill: rgb(22 22 22);
    width: 30px;
    height: 30px;
    margin-left: 6px;
}

img{
    height: 35px;
    margin-left: 10px;
}

.white-nav ul:nth-child(2){
    font-size: 23px;
    font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 45px;
}

.white-nav ul:nth-child(2) li{
    margin-left: 45px;
}

.white-nav ul:nth-child(2) span{
    transform: rotate(90deg);
    font-size: 23px;
    margin-left: -10px;
    font-family: ElectronicArtsDisplay, Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger{
    display: none;
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .menu-svg {
        display: none;
    }

    .white-nav img {
        height: 7px;
    }

    .white-nav ul{
        margin-left: -55px;
        margin-top: -80px;
    }

    .hamburger{
        display: block;
        width: 10px;
        height: 10px;
        margin-top: 5px;
    }

    .white-nav img {
        height: 7px;
        margin-left: -30px;
    }
    
}
