body {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    min-height: 35vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
}

.buttons {
    display: flex;
    width: 500px;
    display: flex;
    padding-left: 100px;
}

.foot-container{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 25px;
}

.foot-content{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}

.foot-links li{
    padding-left: 40px;
}

a{
    text-decoration: none;
    color: rgb(52, 52, 52);
}

.logo-container>img {
    width: 64px;
    height: 64px;
}

.foot-links {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin: 0 0 0 -10px;
}

.foot-links>li {
    line-height: 40px;
    margin: 0 50px 0 0;
}

.legal-copyright {
    max-width: 55%;
    padding: 0 0 0 30px;
}

.legal-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.legal-links>li {
    margin: 0 25px 0 0;
    line-height: 25px;
}

.trust-container {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
}

