*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero-section2{
    width: 100%;
    height: 505px;
    display: flex;
    position: absolute;
}


.testo-second{

    display: flex;
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    text-align: start;
    padding-left: 150px;
    padding-top: 100px; 

  }


.hero-img2{
    position: relative;
    text-align: center;
    width: 100%;
    height: 505px;
}

.hero-img2 .hero-img-one2 {
    width: 100%;
    height: 100%;
    background-image: url("new-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
  }


  p {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    right: 2px;
    top: 120px;
    left: 10px;
    
  }
