*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero-img {
    position: relative;
    text-align: center;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    margin-top: 3rem;   /*Ho aggiunto un margin top 
                         per dividere gli elementi*/
  }
  .hero-img .hero-img-one {
    width: 100%;
    height: 100%;
    background-image: url("ea-home.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .legends-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
    left: -25%;
    top: 20%;
  }
  
  p {
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    right: 2px;
    top: 120px;
    left: 10px;
    
  }

 



