#selector-container{
  width: 421px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

#footerbtn1, #footerbtn2{
  position: relative;
  width: 190px;
  padding: 10px 20px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 3px;
}

#regional-prices, #footer-language{
  display: flex;
  justify-content: left;
  color: #4a4a4a;
}

#dropdown-selection{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#dropdown-language-selection{
  display: flex;
  justify-content: space-between;
}

#selector-container .footer-selector #options-container-pricing {
  height: 50px;
  width: 142px;
  font-family: ElectronicArtsText;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22.5px;
  text-align: left;
  text-indent: 0px;
  word-spacing: 0px;
  color: rgb(90, 90, 88);
  cursor: default;
} 
#selector-container .footer-selector #options-container-pricing #country-prices-dropdown {
  color: rgb(22, 22, 22);
}
#selector-container .footer-selector #options-container-pricing #dropdown-selection {
  display: flex;
  align-items: center;
  position: relative;
}
#selector-container .footer-selector #options-container-pricing #dropdown-selection #regional-dropdown {
  position: absolute;
  right: 0px;
}
#selector-container #language-selector #options-container-language {
  height: 50px;
  width: 142px;
  font-family: ElectronicArtsText;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 22.5px;
  text-align: left;
  text-indent: 0px;
  word-spacing: 0px;
  color: rgb(90, 90, 88);
}
#selector-container #language-selector #options-container-language #dropdown-language-selection {
  display: flex;
  align-items: center;
  position: relative;
}
#selector-container #language-selector #options-container-language #dropdown-language-selection #country-language-dropdown {
  color: rgb(22, 22, 22);
}

#selector-container #language-selector #options-container-language #dropdown-language-selection span {
  height: 11px;
  width: 16px;
  margin-right: 7px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAA50lEQVR42nWRMQ/BQBSAL0aRdDQzMnVjJWam1iDiV4jE5g+ZLSYSC6vIhSbowFrX3rXVeL0Xjza8fOn0fb17LSvOSt84Jwe4uu75cgT2By4ZQ24aBtJ0MyGSJHnqieKUMAzlYPSwbED1up+gv7CRpw7iOI6iCGylVNBoeqYp6rU/QdaGQVtUqqrT+RGAR7aUMggCtAE4Kh+0562cnQba9srlTAAqAouS7fu+gNF2JhguxxTkbSFAvRtG2pgmxwAvgwhfkP3QgwEAy3A6gZamq1MDL8YP9TmBWQViu9uuVyt8Ilz/YP7mBVsTOUQfESu+AAAAAElFTkSuQmCC");
}

.dropdown-activated {
  transform: scale(-1, -1);
}

  #finlandcont, #liechcont, #slovcont, #switzcont {
    border-bottom: none !important;
  }
  .firstcountries {
    margin-left: 30px;
    width: 137.09px;
    height: 47px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  .firstcountries .selectedcontainer {
    height: 100%;
    width: 121.09px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstcountries .selectedcontainer p {
    font-weight: 400 !important;
    font-size: 15px !important;
    text-align: left;
    height: 22.5px;
    width: 121.09px;
    color: rgb(22, 22, 22);
  }
  .firstcountries span {
    width: 16px;
    height: 16px;
  }
  .secondcountries {
    width: 124.72px;
    height: 47px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  .secondcountries .selectedcontainer {
    height: 100%;
    width: 108.72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondcountries .selectedcontainer p {
    font-weight: 400 !important;
    font-size: 15px !important;
    text-align: left;
    height: 22.5px;
    width: 108.72px;
    color: rgb(22, 22, 22);
  }
  .secondcountries span {
    width: 16px;
    height: 16px;
  }
  .thirdcountries {
    width: 116.66px;
    height: 47px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  .thirdcountries .selectedcontainer {
    height: 100%;
    width: 100.66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .thirdcountries .selectedcontainer p {
    font-weight: 400 !important;
    font-size: 15px !important;
    text-align: left;
    height: 22.5px;
    width: 100.66px;
    color: rgb(22, 22, 22);
  }
  .thirdcountries span {
    width: 16px;
    height: 16px;
  }
  .fourthcountries {
    width: 110.61px;
    height: 47px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  .fourthcountries .selectedcontainer {
    height: 100%;
    width: 94.61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fourthcountries .selectedcontainer p {
    font-weight: 400 !important;
    font-size: 15px !important;
    text-align: left;
    height: 22.5px;
    width: 94.61px;
    color: rgb(22, 22, 22);
  }
  .fourthcountries span {
    width: 16px;
    height: 16px;
  }
  #countryfootercontainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .countryitem {
    transition: margin-left 0.2s;
    transition-timing-function: ease-in-out;
  }
  .countryitem:hover {
    margin-left: 20px !important;
  }
  .languagetextcontainer {
    transition: margin-left 0.2s;
    transition-timing-function: ease-in-out;
  }
  .languagetextcontainer:hover {
    margin-left: 20px !important;
  }
  #countryselector {
    display: none;
    position: absolute;
    margin-top: -450px;
    margin-left: -430px;
    width: 653px;
    height: 453px;
    overflow: hidden !important;
    background: #f3f3f3;
    border: 3px solid rgb(194, 194, 194);
    flex-direction: column;
    flex-wrap: wrap;
  }
  #languagescontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #locallanguageselector {
    position: absolute;
    margin-top: -550px;
    margin-left: -330px;
    display: none;
    padding: 21px 5px;
    width: 547.63px;
    height: 552px;
    background: #f3f3f3;
    border: 3px solid rgb(194, 194, 194);
  }
  #locallanguageselector #uklanguage {
    width: 165px;
  }
  #locallanguageselector #uklanguage p {
    width: 140px;
  }
  #locallanguageselector #czechlang {
    width: 165px;
  }
  #locallanguageselector #czechlang p {
    width: 140px;
  }
  #locallanguageselector #brlanguage, #locallanguageselector #nedlanguage, #locallanguageselector #turklanguage {
    border-bottom: none;
  }
  #locallanguageselector .firstlanguages {
    margin-left: 20px;
    width: 156.06px;
    height: 56px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  #locallanguageselector .firstlanguages .flaglistcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 16px;
  }
  #locallanguageselector .firstlanguages .languagetextcontainer {
    width: 124.06px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #locallanguageselector .firstlanguages .languagetextcontainer p {
    height: 22.5px;
    font-weight: 400 !important;
    font-size: 15px;
    margin-left: 10px;
  }
  #locallanguageselector .firstlanguages .checklangcontainer {
    height: 100%;
    width: 16px;
  }
  #locallanguageselector .secondlanguages {
    width: 155.56px;
    height: 56px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  #locallanguageselector .secondlanguages .flaglistcontainer {
    height: 100%;
    width: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #locallanguageselector .secondlanguages .languagetextcontainer {
    width: 123.56px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #locallanguageselector .secondlanguages .languagetextcontainer p {
    height: 22.5px;
    font-weight: 400 !important;
    font-size: 15px;
    margin-left: 10px;
  }
  #locallanguageselector .secondlanguages .checklangcontainer {
    height: 100%;
    width: 16px;
  }
  #locallanguageselector .thirdlanguages {
    width: 108px;
    height: 56px;
    display: flex;
    border-bottom: 2px solid rgb(234, 234, 234);
  }
  #locallanguageselector .thirdlanguages .flaglistcontainer {
    height: 100%;
    width: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #locallanguageselector .thirdlanguages .languagetextcontainer {
    width: 76px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #locallanguageselector .thirdlanguages .languagetextcontainer p {
    height: 22.5px;
    font-weight: 400 !important;
    font-size: 15px;
    margin-left: 10px;
  }
  #locallanguageselector .thirdlanguages .checklangcontainer {
    height: 100%;
    width: 16px;
  }