* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    all: unset;
}

.button1 {
    display: flex;
    justify-content: center;
}
.button5{
    height: 150px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.button6 {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button7, .button8{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.button7{
    margin-left: 4rem;
}

.container-button3,
.container-button4 {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    scale: 1.05;
}

.white-button {
    background-color: white;
    border: solid 2px white;
    border-radius: 3px;
    padding: 12px 24px;
}

.transparent-button-white {
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 3px;
    padding: 12px 24px;
}

.transparent-button-white {
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 3px;
    padding: 12px 24px;
}

.transparent-button-black {
    color: black;
    background-color: transparent;
    border: solid 2px black;
    border-radius: 3px;
    padding: 12px 24px;
}

.regional-pricing-selector {
    padding: 8px 24px;
    background-color: transparent;
    border-radius: 3px;
    border: solid 2px #c2c2c2;

}

.regional-pricing-selector_select {
    background-color: transparent;
    border: none;
}

.language-selector {
    padding: 8px 24px;
    background-color: transparent;
    border-radius: 3px;
    border: solid 2px #c2c2c2;
}

.language-selector_select {
    background-color: transparent;
    border: none;
}