
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #dedede;
    display:flex;
    flex-flow: wrap;
    

}
.card{
    width: 377.52px;
    height: 446.39px;
    padding: 0px 12px;
    background-color: #dedede; 
    margin-top: 20px;
    margin-right: 20px;
    }

    .card:hover{
    margin-top: 5px;
    transition: margin 1s ease;
    box-shadow:10px 10px 5px #777575;
    }

    .foto{
   width: 377.52px;
   height: 198.98px; 
  
}
img{
    width: 377.52px;
    height:198.98px;
}
.write{
    width: 377.52px;
    height: 247.41px;
    padding: 24px;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    
}
header{
    display: flex;
    gap: 20px;
}
header .EA{
    font-size: 14px;
    font-weight: bold;
    color: #ff4747;
}
header .data{
    font-size: 14px;
    font-weight: bold;
    color: #161616;
}
h2{
    font-size: 20px;
    color: #161616;
}
.news{
    font-size: 16px;
    color: #161616;
}
@media only screen and (min-width: 480px) {
.foto {display: none;}

.card{
    height: 247.41px;
    display: flex;
    flex-flow: column;
}
}

